.hide{
  display: none;
}
.login-page, .register-page {
  height: 60vh; 
}
.btn{
  border-radius: 0px;
}
.btn-group-sm>.btn, .btn-sm {
  padding: 3px 5px;
  font-size: .875rem;
  line-height: 1.0;
  border-radius: 0px;
}

.table td, .table th {
  padding: 5px 8px;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.alert {
  position: relative;
  padding: 2px 15px;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0;
}

.form-select-sm {
  margin-bottom: 5px;
}

.badge{
  padding: 5px;
  border-radius: 0px;
}